<div>{{label "opening" "Opening"}} {{select "opening" openings opening}}</div>

<div>{{label "first-name" "First Name"}} {{input "first-name" firstName}}</div>

<div>{{label "last-name" "Last Name"}} {{input "last-name" lastName}}</div>

<div>{{label "email" "Email"}} {{input "email" email}}</div>

<div>{{label "skype" "Skype"}} {{input "skype" skype}}</div>

<div>{{label "tags" "Tags"}} {{input "tags" tags}}</div>

<div>{{button "save" "Save"}}</div>
